body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: 700px;
  grid-auto-columns: 100px;
  border: 10px solid var(--yellow);
  margin: 50px;
}